
*{
 border: solid red;
}

body{
     font-family: 'Montserrat', sans-serif;
  
}


.logo{
     padding: 3em;
     width: 190px;
}

.titulo{

position: absolute;
width : 400px ;
left : 500px ;
top : 50px ;
}


main{
     
     margin: 15px;
     padding: 20px;
   

 
    
    
     

}

.ll{
     width: 940px;

}
.parte-ingreso{
   
     border: 1px solid rgb(75, 65, 220);
     margin: 1em;
     padding: 10px;
     display: inline-block;
    
  
     

}

.caja-ingreso{
     border: 1px solid goldenrod;
     width: 400px;
     height: 500px;
     text-align: center;
     padding: 10px;
}
.caja-ingreso .ingreso{
     width: 380px;
     height: 400px;
}




.parte-salidad{

     

     border: 1px solid green;
     margin: 1em;
     padding: 10px;
     float: right;
   

}
.caja-salidad{

     border: 1px solid goldenrod;
     width: 300px;
     height: 500px;
     text-align: center;
     border-radius: 15px;
 
}
.text-input-salida{
   
    border: none;
     height: 370px;
     width: auto;
     
}
.boton-2{
  margin: 1em;
}


